:root {
  --page-margin: 17mm;
  --editor-font-family: inherit;
  --tab-width: 0px;
}

body.standalone-html {
  background-color: #525659;
  margin: 0;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.ProseMirror {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

section.page {
  position: relative;
  width: 210mm;
  min-width: 210mm;
  height: 297mm;
  min-height: 297mm;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}

section.page::after {
  content: attr(data-page);
  position: absolute;
  left: 50%;
  bottom: 6mm;
  transform: translateX(-50%);
  font-size: 11px;
  color: #666;
}

.page-inner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: var(--page-margin);
  position: relative;
  overflow-y: auto;
  outline: none;
  font-family: var(--editor-font-family, inherit);
  font-size: 11pt;
  color: #333;
  line-height: 1.6;
}

.page-inner p,
.page-inner h1,
.page-inner h2,
.page-inner h3,
.page-inner h6 {
  margin: 0 0 1em;
  position: relative;
  padding-left: 0;
}

.page-inner h1,
.page-inner h2,
.page-inner h3,
.page-inner h6 {
  font-weight: revert;
  font-size: revert;
  line-height: revert;
  color: revert;
}

.page-inner p {
  font-size: 1em;
  font-weight: 400;
}

.page-inner p[data-para]::before,
.page-inner h1[data-para]::before,
.page-inner h2[data-para]::before,
.page-inner h3[data-para]::before,
.page-inner h6[data-para]::before {
  content: "[" attr(data-para) "]";
  position: absolute;
  left: -11mm;
  top: 1px;
  width: 2.4rem;
  text-align: right;
  color: #999;
  font-size: 10.5pt !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  user-select: none;
  pointer-events: none;
  font-family: var(--editor-font-family, inherit);
}

body.hide-page-numbers section.page::after {
  display: none;
}

body.hide-para-numbers .page-inner [data-para]::before {
  display: none;
}

.page-inner img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0.8em auto;
}

.page-inner .image-container.img-xs {
  width: 20%;
}

.page-inner .image-container.img-s {
  width: 35%;
}

.page-inner .image-container.img-m {
  width: 50%;
}

.page-inner .image-container.img-l {
  width: 65%;
}

.page-inner .image-container.img-xl {
  width: 85%;
}

.page-inner p:has(> .image-container) {
  display: block;
  text-align: center;
  padding: 0;
  line-height: 1;
  font-size: inherit;
  caret-color: #000;
}

.page-inner .image-container {
  display: inline-block;
  vertical-align: top;
  width: auto;
  max-width: 100%;
  line-height: 0;
  font-size: 0;
  position: relative;
  margin-right: 1.5pt;
  margin-bottom: 0;
  transition: margin-bottom 0.2s;
}

.page-inner .image-container.has-title {
  margin-bottom: 24px;
}

.page-inner .image-container.has-title.title-mini {
  margin-bottom: 20px;
}

.page-inner .image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.page-inner .image-container.has-title::after {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: max-content;
  max-width: 200%;
  text-align: center;
  font-size: 11pt;
  line-height: 1.4;
  color: #333;
  padding-top: 4px;
  user-select: none;
  pointer-events: none;
}

.page-inner .image-container.has-title.title-mini::after {
  font-size: calc(11pt * 0.67);
  font-weight: bold;
  color: #666;
}

.page-inner p:has(> img:not(.ProseMirror-separator)) .ProseMirror-trailingBreak,
.page-inner p:has(> .image-container) .ProseMirror-trailingBreak {
  display: none;
}

.page-inner img.has-border {
  border: 1px solid currentColor;
}

.page.line-height-s .page-inner {
  line-height: 1.25;
}

.page.line-height-l .page-inner {
  line-height: 2.0;
}

.inline-tab {
  display: inline-block;
  vertical-align: bottom;
  height: 1em;
}

.page-inner .indent-1 {
  padding-left: 36pt;
}

.page-inner .indent-2 {
  padding-left: 72pt;
}

.page-inner .indent-3 {
  padding-left: 108pt;
}

.page-inner .indent-4 {
  padding-left: 144pt;
}

.page-inner .indent-5 {
  padding-left: 180pt;
}

.page-inner .hanging-indent {
  text-indent: -1em;
}

.page-inner .indent-1.hanging-indent {
  padding-left: 36pt;
  text-indent: -36pt;
}

.page-inner .indent-2.hanging-indent {
  padding-left: 72pt;
  text-indent: -72pt;
}

.page-inner .indent-3.hanging-indent {
  padding-left: 108pt;
  text-indent: -108pt;
}

.page-inner .indent-4.hanging-indent {
  padding-left: 144pt;
  text-indent: -144pt;
}

.page-inner .indent-5.hanging-indent {
  padding-left: 180pt;
  text-indent: -180pt;
}


@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }

  body.standalone-html {
    background: #fff;
    overflow: visible;
    height: auto;
    width: 100%;
    display: block;
    padding: 0;
  }

  section.page {
    position: relative;
    width: 210mm;
    height: 297mm;
    min-height: 297mm;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none !important;
    background: #fff;
    overflow: hidden;
    break-after: page;
    page-break-after: always;
  }

  section.page:last-child {
    break-after: auto;
    page-break-after: auto;
  }

  .page-inner {
    width: 100%;
    height: 100%;
    padding: var(--page-margin);
    overflow: visible;
  }

  .page-inner,
  .page-inner * {
    user-select: text !important;
    -webkit-user-select: text !important;
  }
}
